@font-face {
    font-family: 'WorkSans';
    src: url('../fonts/work-sans/WorkSans.ttf');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Nautilus';
    src: url('../fonts/Nautilus/Nautilus.otf');
}

@font-face {
    font-family: 'Cleanver';
    src: url('../fonts/cleanver/CLEANVEB.TTF');
}

html {
    font-family: 'Montserrat';
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: calc(100% - 400px);
}

main {
    height: 100%;
}

h2 {
    font-size: 2rem;
    text-align: center;
    padding: 20px;
}

.hidden {
    overflow: hidden;
    opacity: 0;
    z-index: -1;
    transform: translateY(-500px);
    transition: all 0.8s ease-in-out;

}

.showed {
    opacity: 1;
    transition: all 0.8s ease-in-out;
}

.header-big {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding-right: 20px;
    background-color: rgb(251, 253, 255);
    z-index: 10;
}

.header-burger {
    display: none;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height: 70px;
    background-color: rgb(251, 253, 255);
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.header-burger-hidden {
    width: 100%;
    height: 75px;
}

.header-burger-nav-hidden {
    transform: translateX(-100%) !important;
}

.header-burger nav {
    transform: translateY(-2px);
    min-height: 100vh;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: rgb(251, 253, 255);

}

.header-burger a {
    border-top: 1px solid gray;
}

.header-burger .logo {
    width: 100%;

}

.header-burger img {
    transition: all 0.3s ease-in-out;
}

.header-burger-logo-close {
    /* padding: 10px; */
    transform: rotate(180deg);
}

.header-burger .nav-links {
    display: flex;
    flex-direction: column;
}

.nav {
    font-size: 1.25rem;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: black;
    padding: 25px 15px 25px 15px;
    height: 100%;
    display: block;
    transition: all 1s ease-in-out;
    border-bottom: 3px solid transparent;

}

.nav-links a:hover {
    background-color: aliceblue;
    border-bottom: 3px solid rgb(4, 4, 145);
}

.logo {
    margin-left: 5%;
}

.logo img {
    height: 70px;

}

.about {
    display: flex;
    position: relative;
    min-height: calc(100vh + 70px);
    min-width: 100vw;
    overflow: hidden;
    transition: height 500ms ease;
}

.about::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: -3%;
    width: 100%;
    height: 103%;
    z-index: 1;
    background-image: url('../images/description-main.jpg');
    background-repeat: no-repeat;
    background-position: 70% 0;
    background-size: cover;
    transition: height 1s linear;

}

.about-img-hidden {
    display: none;
}

.content-above-background {
    position: relative;
    z-index: 2;
}

.about-text-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding-top: 30px;
    margin-top: 5%;
    margin-left: 5%;
    /*  background-color: rgba(240, 248, 255, 0.551); */
    border-radius: 22px;
}

.about-text-description h1 {
    font-size: 3rem;
    font-family: Cleanver;
    margin-bottom: 20px;
    line-height: 1.2;
    /*   text-shadow: 2px 7px 5px rgb(199, 194, 194); */
}

.about-text-description p {
    font-size: 1.25rem;
}

.about-see-more {
    padding: 10px;
}

.about-see-more button {
    font-size: 1.25rem;
    padding: 10px 20px;
    background:
        linear-gradient(to right, rgb(28, 40, 209), rgb(252, 71, 219), rgb(214, 24, 231), rgb(102, 15, 215));
    border: none;
    border-radius: 22px;
    color: white;
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(134, 10, 229, 0.75);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.about-see-more button:hover {
    background-position: 100% 0;
    box-shadow: 5px 5px 15px 10px rgba(159, 42, 248, 0.816);
}

.about-full-description {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 22px;
    border: 1px solid blue;
    background-color: aliceblue;
    width: 100%;
    align-self: flex-start;
    transition: all 0.8s ease-in-out;
}

.move-block-down {
    transform: translateY(-300px);
}

.champions {
    transition: all 0.8s ease-in-out;
    overflow: hidden;
    z-index: 4;
    position: relative;

    padding-bottom: 40px;
    background-image: url('../images/champions-bg.jpg');
    background-size: cover;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.champions h2 {}

.champions-cards-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.champions-cards-container {
    display: flex;
    width: 50%;
    flex-wrap: nowrap;
    overflow: hidden;
    border-radius: 22px;
}

.champion-card {
    min-width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gray;
    border-radius: 22px;
    background-color: rgb(234, 232, 232);
    color: black;
    transition: all 0.5s ease-in-out;

}

.champion-card p {
    padding: 5px;
    font-size: 1.2rem;
    border-bottom: 1px solid gray;
    min-width: 100%;
    padding-top: 10px;
    padding-left: 20px;
}

.champion-image-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-btn {
    height: 50px;
    width: 50px;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.slider-btn:hover {
    opacity: 0.85;

}

.slider-btn-left:hover {
    transform: translateX(-10px);
}

.slider-btn-right:hover {
    transform: translateX(10px);
}

.champion-image {
    border-radius: 22px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.prizes {
    background-color: aliceblue;
    /* background: linear-gradient(to bottom right, rgb(173, 214, 250),rgb(213, 252, 245),rgba(53, 31, 220, 0.4)); */
    font-size: 1.2rem;
    padding-bottom: 20px;
}


.prizes p,
.prizes h3 {
    text-align: center;
    padding: 10px;
}

.prize-about-text {
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.5;
}

.all-prize-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.all-prize-img img {
    width: 25%;
    margin: 30px;
    border-radius: 22px;
    transition: all 0.5s ease-in-out;
}

.all-prize-img img:hover {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.503);
    transform: scale(1.05, 1.05);
}

.prize-places {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 150px;
}

.prize-places div {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.503);
}

.prize-places div:hover {
    width: 15%;
    opacity: 0.8;
}

.second-place {
    height: 50%;
    background-color: rgb(228, 225, 225);
}

.first-place {
    height: 100%;
    background-color: rgb(247, 247, 104);
}

.third-place {
    height: 30%;
    background-color: burlywood;
}

.prize-description {
    padding-top: 10px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.prize-description p {}

.prize-description-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
}

.prize-nst-place {
    transform: translateY(-100%);
    transform: translateX(-100%);
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    height: 0px !important;
    padding: 0 !important;
}

.prize-element {
    width: 20%;
    margin: 20px;
    padding: 10px;
    background-color: rgba(195, 209, 246, 0.548);
    border-radius: 22px;
    box-shadow: 0px 10px 15px 0px rgba(3, 22, 66, 0.503);
}

.prize-text {
    height: 10%;
    text-align: center;
}

.prize-img {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
    width: 100%;
    height: 90%;
    padding-bottom: 10px;
}

.prize-img img {
    width: 100%;
    height: 90%;
    border-radius: 22px;
}

.place {
    /* background-image: url('../images/place-bg1.jpg');
    background-size: cover; */
    background: linear-gradient(to top right, rgba(0, 238, 255, 0.707), rgba(50, 110, 238, 0.208), rgba(194, 44, 254, 0.185), rgba(117, 244, 153, 0.312), rgba(4, 163, 255, 0.378), violet);
    padding: 20px;
    color: rgb(0, 0, 0);
}

.place-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.place-container div {
    flex-basis: 50%;
}

.place-map-container {
    display: flex;
    justify-content: center;

}

.place-map-container iframe {
    border-radius: 22px;
    width: 80%;
    height: 90%;
}

.place-text-container {
    padding-left: 10%;
    font-size: 1.2rem;
}

.place-text-container p {
    line-height: 1.5;
    /* border-bottom: 1px solid gray; */

}

.place-how {
    padding-top: 30px;
}

.place-date-time {
    display: flex;
    align-items: center;
}

.place-date-time p {
    padding-left: 10px;
}

.sign-up {
    width: 100%;
    background-color: aliceblue;
}

.modal-hidden {
    opacity: 0;
    visibility: hidden;
}

.sign-up-modal {
    transition: all 0.5s ease-in-out;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(57, 59, 58, 0.73);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-success {
    width: 50vw;
    min-height: 50vh;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-success p {
    margin-top: 10%;
    text-align: center;
    font-size: 2rem;
}

.modal-close {
    margin-top: 20% !important;
}


.sign-up-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.sign-up-form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-up-form * {
    padding: 5px;
    font-size: 1.2rem;
}

.sign-up-form input {
    margin-top: 5px;
    border-radius: 22px;
    border: 1px solid gray;
    padding-left: 15px;

}

.sign-up-form-label {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sign-up-form-radio-btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.sign-up-form-label-rb {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sign-up-form-label-rb input {
    margin-left: 20px;
    margin-top: 0;
    height: 20px;
    width: 20px;
}

.sign-up-form-for-members {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.hidden-members {
    opacity: 0;
    transform: translateY(-400px);
    height: 10px !important;
    z-index: 0;
    visibility: hidden;
}

#dogImgInput {
    border: none;
}

.sign-up-form-img {
    display: flex;
    justify-content: center;
}

.sign-up-form-img img {
    max-width: 100%;
    max-height: 450px;
    border-radius: 22px;
    padding: 0;
}

.sign-up-form-buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 30px;
}

.sign-up-form-buttons input {
    margin: 10px;
    background:
        linear-gradient(to right, rgb(28, 40, 209), rgb(252, 71, 219), rgb(214, 24, 231), rgb(102, 15, 215));
    border: none;
    color: white;
    background-size: 300% 100%;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.sign-up-form-buttons input[type="submit"] {
    background:
        linear-gradient(to right, rgb(32, 8, 156), rgb(28, 205, 232), rgb(24, 38, 231), rgb(213, 42, 105));
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(33, 8, 132, 0.75);
}

.sign-up-form-buttons input[type="submit"]:hover {
    background-position: 100% 0;
    box-shadow: 5px 5px 15px 5px rgba(7, 10, 145, 0.816);
}

.sign-up-form-buttons input[type="reset"] {
    background:
        linear-gradient(to right, rgb(255, 0, 0), rgb(232, 229, 28), rgb(219, 247, 7), rgb(219, 7, 85));
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgba(142, 6, 6, 0.75);
}

.sign-up-form-buttons input[type="reset"]:hover {
    background-position: 100% 0;
    box-shadow: 5px 5px 15px 5px rgba(234, 25, 25, 0.816);
}

.requried-fields {
    background-color: rgba(252, 0, 0, 0.197);
}

.contacts {
    background-color: rgba(3, 8, 13, 0.815);
    color: white;
    padding-bottom: 30px;
    font-size: 1.2rem;
}

.contacts p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacts-links-container {
    display: flex;
    justify-content: space-around;
}

.contacts-links {
    display: flex;
    flex-direction: column;

}

.contacts-links a {
    text-decoration: none;
    color: rgb(181, 178, 250);

    cursor: pointer;
    padding-top: 10px;
    font-size: 1.3rem;
}

.contacts-social div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contacts-social a {
    padding-left: 10px;
    padding-right: 10px;
}


@media(max-width:1200px) {
    html {
        font-size: 14px;
    }

    .about-text-description {
        width: 400px;
        margin-top: 80px;
    }

    .prize-places {
        height: 120px;
    }

    .prize-element {
        margin: 10px;
        width: 22%;
    }

    .sign-up-form-buttons {
        width: 200px;
    }
}

/* бургер меню, уменьшение фона о нас */
@media(max-width:1024px) {
    html {
        font-size: 13px;
    }

    .nav-links a {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-text-description {
        width: 400px;
        margin-top: 80px;
    }

    .all-prize-img img {
        margin: 10px;
    }

    .prize-places {
        height: 100px;
    }

    .prize-element {
        width: 25%;
    }

}

@media(max-width:960px) {
    html {
        font-size: 13px;
    }

    .modal-success{
        width: 80vw;
        height: 50vh;
    }


    .about {

        padding-top: 5vh;
        background: linear-gradient(to bottom right, rgba(254, 255, 255, 0.707), rgba(255, 255, 255, 0.73), rgb(255, 253, 253), rgb(138, 137, 138));
        /* background: linear-gradient(to bottom left, rgba(71, 204, 71, 0.434),rgba(234, 234, 54, 0.511), rgba(28, 28, 149, 0.379), rgba(233, 43, 43, 0.418), rgba(180, 17, 180, 0.714)); */
        color: rgb(0, 0, 0);
        height: min-content !important;
        min-height: auto;

    }

    .about::before {
        background-image: none;
    }

    .about-img-hidden {
        display: block;
        position: absolute;
        top: 2%;
        right: 0;
        width: 50%;
        z-index: -1;
    }

    .about-img-hidden img {
        width: 100%;
    }

    .about-text-description {
        align-items: flex-start;
        justify-content: flex-start;
        width: 100% !important;
        height: min-content !important;
    }

    .about-description-container {
        display: flex;
        width: 100%;
    }

    .about-description-container div {
        flex-basis: 45%;
    }

    .about-full-description {
        width: 70%;
    }

    .move-block-down {
        transform: translateY(-300px);
    }

    .about-see-more {
        margin-left: 20%;
        padding-top: 30px;
    }


    .header-big {
        display: none;
    }

    .header-burger {
        display: flex;
    }

    .about-text-description {
        width: 400px;
        margin-top: 80px;
    }

    .champions-cards-container {
        width: 80%;
    }

    .champion-card {
        padding-bottom: 20px;
    }

    .all-prize-img {
        flex-direction: column;
        align-items: center;
    }

    .all-prize-img img {
        margin: 10px;
        width: 50%;
    }

    .prize-places {
        height: 120px;
    }

    .prize-element {
        width: 30%;
    }

    .place-text-container {
        padding-left: 5%;
    }

    .place-map-container iframe {
        width: 95%;
    }

    .sign-up-form-radio-btns {
        flex-direction: column;
    }

    .sign-up-form-label-rb {
        justify-content: space-between;
    }

}

@media(max-width:800px) {


    .about {
        padding-top: 7vh;

    }

    .about-img-hidden img {
        width: 100%;
    }

    .about-description-container div {
        flex-basis: 50%;
    }

    .move-block-down {
        transform: translateY(-300px);
    }

    .about-text-description {
        width: 300px;
        justify-content: flex-start;
    }

    .about-text-description h1 {
        font-size: 2.5rem;
    }

    .about-full-description {
        width: 500px;
    }

    .prize-element {
        border-radius: 10px;
        margin: 5px;
        width: 31%;
    }

    .prize-element p {
        padding: 5px;
    }

    .place-container {
        flex-direction: column;
    }

    .place-text-container {
        display: flex;
        padding-bottom: 40px;
        padding-left: 20px;

    }

    .place-text-container div {
        padding-left: 10px;
        padding-right: 10px;
    }

    .place-date-time {
        padding: 0 !important;
    }

    .place-date-time img {
        width: 40px;
        height: 40px;
    }

    .place-how {
        padding-top: 0;
    }

    .place-map-container iframe {
        height: 400px;
    }

    .sign-up-form {
        width: 80%;
    }

    .contacts-links-container img {
        width: 40px;
        height: 40px;
    }
}


@media(max-width:550px) {


    html {
        font-size: 11px;
    }

    .logo img {
        width: 50px;
        height: 50px;
    }

    .header-burger {
        height: 50px;
    }

    .about {
        padding-top: 5vh;
        min-height: min-content;
        width: 100%;

    }

    .about-text-description h1 {
        font-size: 2rem !important;
        max-width: 250px;
    }

    .about::before {
        background-position: 10% 150px;
        background-image: none;
    }

    .about-text-description {
        padding-top: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100% !important;
    }

    .about-description-container {
        display: flex;
        width: 100%;
    }

    .about-description-container div {
        flex-basis: 57%;
    }

    .about-img-hidden {
        top: 2%;
        width: 50%;

    }

    .about-img-hidden img {
        width: 100%;
    }

    /* .about::before {
        min-height: 100%;
    } */

    .about-see-more {
        display: none;
    }

    .move-block-down {
        transform: translateY(0);
    }

    .about-full-description {
        padding: 15px;
        margin-top: 40px;
        width: 90vw !important;
    }

    .hidden {
        overflow: visible;
        opacity: 1;
        z-index: -1;
        transform: translateY(0);

    }


    .about-text-description {
        width: 300px;
    }

    .about-text-description h1 {
        font-size: 2.2rem;
    }

    .slider-btn {
        width: 30px;
        height: 30px;
    }

    .all-prize-img img {
        width: 80%;
    }

    .prize-places div {
        width: 20%;
    }

    .prize-description-container {
        flex-direction: column;
        align-items: center;
    }

    .prize-element {
        width: 60%;
    }

    .place-container {
        padding: 10px;
    }

    .place-text-container {
        padding-left: 0;
    }

    .contacts-links-container {
        flex-direction: column;
        align-items: center;
    }

    .contacts-links-container p {
        padding-bottom: 5px;
    }

    /* Изменить первый блок, возможно картинку делать не фоном а img которая изначально скрыта
    при очистке формы - очищать картинку и скрывать лишний блок
    
    сделать модальное окно после отправки формы и проверку что поля заполнены
    сделать нормальное отображение призовых мест*/

}

@media(max-width:380px) {
    .about-description-container {
        flex-direction: column;
    }

    .about h1 {
        max-width: 100% !important;

    }

    .about {
        padding-right: 12px;
    }

    .about-img-hidden {
        position: relative;
        margin-left: 20%;
    }

    .about-img-hidden img {
        padding-top: 20px;
        width: 100%;
        transform: scale(1.2);

    }

    .prize-element {
        width: 80%;
    }

    .place-container {
        padding: 10px;
    }

    .place-text-container {
        padding-left: 0;
    }

    .place-map-container iframe {
        height: 300px;
    }
}